spring:
  application:
    name: order-service-rest
server:
  port: 7071

eureka:
  instance:
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/,http://localhost:8762/eureka/

hystrix:
  command:
    default: #具体的方法名,default代表全局
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 5000 #配置hystrix的超时时间,默认是1s